h1{
    text-align: center;
}

h3{
    text-align: center;
    color: blueviolet;
}

h3::before{
    content: "NEW";
    color:lime;
}
h3::after{
    content: "FEATURED";
    color:lime;
}