#translate {
  position: absolute;
  inset: 0;
  margin: auto;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(45deg, red, blue);
  perspective: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 50px;
}

#innerbox2{
   width: 100px;
  height: 100px;
  background-image: linear-gradient(45deg, pink, blue);
  margin: 5px;
}

#innerbox1,
#innerbox3,
#innerbox4 {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(45deg, red, yellow);
  margin: 5px;
}

#innerbox1:hover {
  /* translate: 100px 100px; */
  transform: translate(100px, 100px);
}
#innerbox2:hover {
  transform: translateX(100px);
}
#innerbox3:hover {
  transform: translateY(100px);
}
#innerbox4:hover {
  transform: translate3d(100px, 100px, 20px);
}
